<%= simple_form_for [@job, @postulation], html: { class: "submit-form"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :professional_profile, label: "Cuéntanos sobre tu perfil profesional y experiencia laboral. ¿Qué has logrado?" %>
    <%= f.input :academic_profile, label: "Cuéntanos sobre tu formación académica, estudios y otros aprendizajes." %>
    <%= f.input :interest, label: '¿Por qué te interesa este empleo en particular?' %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit, "Enviar Postulación" %>
  </div>
<% end %>
