<div class="section lb">
  <div class="container">
    <div class="single-job post-padding">
      <div class="job-tab ">
        <div class="row">

          <div class="col-md-10 col-sm-7 col-xs-12">
            <div class="badge freelancer-badge"><%= @job.job_type %></div>
            <h3><%= @job.title %></h3>
            <small>
              <span>Publicado Por : <a href="#"><%= @job.company.name %></a></span> 
              <span>Categoria : <a href="#"><%= @job.category_job %></a></span>
              <span>Fecha : <%= @job.publish_job %></span>
            </small>

            <hr class="invis"> 

            <p><%= sanitize(@job.description, tags: %w(b strong em i li ul)).html_safe %></p>
            
            <% if user_signed_in? %>
              <% if  Postulation.exists?(job_id: @job.id, user_id:current_user.id) %>
                <%= link_to 'Haz postulado', user_path(current_user.slug), class: "btn btn-primary btn-custom" %>
              <% elsif   user_signed_in? && !company_signed_in? %>
                <%= link_to 'Aplicar al Trabajo', new_job_postulation_url(@job.slug), class: "btn btn-primary btn-custom" %>
              <% end  %>
            <% end %>
          
          </div><!-- end col -->

          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="job-meta m45">
              <p>Empleador</p>
              <small><%= @job.company.name %></small>
              <ul class="company-links clearfix">
                <% if  @job.company.website %>
                  <li><a href="#"><i class="fa fa-link"></i> <%= @job.company.website %></a></li>
                <% end %>

                <% if  @job.company.tw %>
                  <li><a href="#"><i class="fa fa-twitter"></i> <%= @job.company.tw %> </a></li>
                <% end %>

                <% if @job.company.fanpage  %>
                  <li><a href="#"><i class="fa fa-facebook"></i> <%= @job.company.fanpage %></a></li>
                <% end  %>

              </ul>
            </div><!-- end meta -->
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end job-tab -->
    </div><!-- end single-job -->

  </div><!-- end container -->
</div><!-- end section -->


