<div class="section lb">
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-4">
                <%= render 'menu_usuario' %>
            </div><!-- end col -->

            <div class="content col-md-8">
                <div class="post-padding">
                    <div class="job-title nocover hidden-sm hidden-xs"><h5>Mis postulaciones</h5></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive job-table">
                                <table id="mytable" class="table table-bordred table-striped">

                                    <thead>
                                        <tr>
                                            <th>Oferta</th>
                                            <th>Empresa</th>
                                            <th>Sueldo Ofrecido</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @user.postulations.each do |p| %>
                                            <tr>
                                                <td>
                                                    <h4> <%= link_to( p.job.title.capitalize, user_postulation_details_path(current_user.slug, p.id)) %>  <br>
                                                        <small>Postulado el : <%= p.created_at.strftime(" %d/%m/%Y ") %></small> <small> <%= link_to( p.job.category_job, "#") %> </small>
                                                    </h4>
                                                </td>
                                                <td><a href="#"><%= link_to( p.job.company.name.capitalize, "#") %></a></td>
                                                <td>$31.00</td>
                                            </tr>
                                        <% end %>
                                    </tbody>

                                </table>
                            </div><!-- end table -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end post-padding -->
            </div><!-- end col -->
        </div><!-- end row -->  
    </div><!-- end container -->
</div><!-- end section -->