<div class="section lb">
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-4">
                <%= render 'menu_company' %>
            </div><!-- end col -->

            <div class="content col-md-8">
                <div class="post-padding">
                    <div class="job-title nocover hidden-sm hidden-xs"><h5>Detalle de Postulación</h5></div>
                    <div class="row">
                        <div class="col-md-12">

                                <%= render  partial: "companies/datos_postulante", locals: {user: @postulation.user}   %>
                                <h4>Perfil Profesional</h4>
                                <div><%= sanitize(@postulation.professional_profile, tags: %w(b strong em i li ul)).html_safe %></div>
                                <hr>
                                <h4>Perfil Academico</h4>
                                <div><%= sanitize(@postulation.academic_profile, tags: %w(b strong em i li ul)).html_safe %></div>
                                <hr>
                                <h4>Intereses del postulante</h4>
                                <div><%= sanitize(@postulation.academic_profile, tags: %w(b strong em i li ul)).html_safe %></div>
                                <br>
                                <%= link_to("Volver a lista de postulaciones", company_postulations_path(current_company.id, @postulation.job.id), class:"btn btn-primary") %>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end post-padding -->
            </div><!-- end col -->
        </div><!-- end row -->  
    </div><!-- end container -->
</div><!-- end section -->